* {
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    
}

html{
    width:100%;
    height:100%;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
  

}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
#header {
    position: absolute;
    z-index: 10;

  
}
.navbar-nav {
   /* flex-flow: row nowrap;*/
  }
  
.navbar {
    padding: 15px 0;
     /* flex-flow: row nowrap;
      display: inline-flex;*/

}
.navbar-collapse {
  
}
.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
}
.navbar-default .navbar-brand{
    color: #808288;
    

}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 40px;
   
}
.bg-light{
    background: transparent !important;
 
}
.bg-light.scrolled{
   background: rgb(250, 250, 250) !important;
    
}




.main{
    position: relative;
    /*
    background: url(img/sky-image.jpg);
    background-size: 100% 100%;
*/
    background:#21252b;
    width: 100%;
    margin: 0 auto; 
    overflow: hidden;
}
#leftHalf{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    object-fit: contain;
    margin:0;
    padding:0;

}

.mainVideo{
    object-fit: cover;
    z-index: -1;
    justify-content: center;
    position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
    min-height: 100%;

    /*index.html <video class="mainVideo" src='video/video-2.mp4' autoPlay loop muted></video> */
}

.leftAlignment{
    padding:200px 150px 0 150px;
    
}

.main h1{
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: bold;
    bottom: 0;
    color: 	#f6f7f8;
 
}
#smallFont{
    font-size: 1rem;
}
.main h2{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    color:	#f6f7f8;
}
.main h3{
    margin: 0;
    margin-bottom:20px;
    padding: 0;
    font-size: 3em;
    color:	#f6f7f8;
}

.main p{
    margin:0;
    padding: 0;
    font-size: 1em;
    color:	#f6f7f8;
}
mark.num{
    display: inline-block;
    line-height: 0em;
   color:#f8b133;
    padding-bottom: 0.5em;
    background-color: transparent;
    font-size: 0.5em;
}
mark.num2{
    display: inline-block;
    line-height: 0em;
   color:#f6f7f8;
    padding-bottom: 0.5em;
    background-color: transparent;
    font-size: 0.5em;
}
.main #btnResume{
    margin-top: 2em;
    margin-right: 10px;
    border-color: #f6f7f8;
    border-radius: 10px;
    color:  #f6f7f8;
    margin-bottom: 10em;
    padding: 10px 20px;
    font-size:1em;
    background-color:transparent;
}
.main #btnResume:hover{
    border-color:  #f6f7f8;
    color:  #282c34;
    background-color: #f6f7f8;
   
}
.main #btnProject{
    margin-top: 2em;
    
    border-color: #f6f7f8;
    border-radius: 10px;
    color: #282c34;
    margin-bottom: 10em;
    padding: 10px 20px;
    font-size:1em;
    background-color:#f6f7f8;
}
.main #btnProject:hover{
 
    border-color:#111214;
    color:  #f6f7f8;
    background-color: transparent;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    margin : 0 auto;
  
   
    
}
 

/*about me*/

.about{
    background-color: #21252b;
    width: 100%;
    margin: 0 auto; 
    overflow: hidden;
}

.narrow{
    width: 100%;
    margin: 0 auto;
    padding: 200px 150px 150px 150px;
    color:#f6f7f8;
}

.heading-underline2{
    width: 4rem;
    height: .5rem;
    background-color: lightslategray;
    margin: 0 auto 50px;
  
}
.aboutImage{
 
    display: block;
    text-align: center;
    justify-content: center;
}
.aboutProfile{
    background: #ffefd6;
    padding: 100px;
    border-radius: 50px;
}
#aboutIcon svg{
    transition: 0.5s;
}
#aboutIcon svg:hover{
    transform: translateY(-10px);
}
.aboutMe {
    background: rgb(49, 49, 49);
    padding-top: 40px;
    
}
 .aboutMe svg{
    transition: 0.5s;
 }
.aboutMe svg:hover{
    transform: translateY(-10px);
}
#m-row{
    margin-bottom: 150px;
}
.aboutMe p{
    padding-bottom: 3rem;
    padding-left: 10px;
    padding-right: 10px;
   
}
.aboutMe h3{
    padding: 30px;
    font-size: 1rem;
}
#subject-text{

    font-size: 2em;
    padding-bottom: 30px;
 
}
#about-description{

    padding-bottom: 20px;
}
/*circle skills*/
.container-skill{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top:50px;
}
.card{
    background: #21252b;
}
.container-skill .card{
    position: relative;
    width:175px;
    background: #21252b;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container-skill .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.container-skill .card:before{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.percent{
    position: relative;
    width: 105px;
    height:105px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
  /*  background: #222;*/
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 30px;
}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size:23px;
    transition: 0.5s;
}
.percent .number h2 span{
    font-size:16px;
    color:#777;
    transition: 0.5s;
}
.skill-text{
    position: relative;
    margin-top:20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition:0.5s;
    font-size: 1em;
    color:#777;
}
.card:hover .skill-text{
    color:	#f6f7f8;
}
.card:hover .percent .number h2 span{
    color:	#f6f7f8;

}
.circleSvg{
    position: relative;
    width:150px;
    height: 150px;
    z-index: 1000;
}
svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2) {
    stroke-dasharray: 308;
    stroke-dashoffset: 308;
}

#circle1 svg circle:nth-child(2){
    stroke: #f8f9e9;
    stroke-dashoffset: calc(308 - (308 * 90) / 100);
}
#circle2 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 80) / 100);
    stroke: #f8512f;
}
#circle3 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 70) / 100);
    stroke: gold;
}
#circle4 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 60) / 100);
    stroke: skyblue;
}
#circle5 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 60) / 100);
    stroke: #15658a;
}
#circle6 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 85) / 100);
    stroke: orange;
}
#circle7 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 60) / 100);
    stroke: purple;
}
#circle8 svg circle:nth-child(2){
    stroke-dashoffset: calc(308 - (308 * 70) / 100);
    stroke: #3C873A;
}
#skills{
    width: 500px;
    margin: 30px auto;

    padding-left:70px;
    padding-right:70px;
}
#skills li{
    margin: 20px 0;

    list-style: none;
}
#skills h3{
    font-size: 1rem;
}
#title-skill{
    padding-top: 80px;
    font-weight: 700;

}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #f8b133;
    color:white;

}
.bar span{
    height:20px;
    float:left;
    background: #f8b133;

}
.html{
    width: 90%;
    animation: html 2s;


}
.css{
    width: 80%;
    animation: css 2s;

}
.php{
    width: 70%;
    animation: php 2s;
}
.react{
    width: 70%;
    animation: react 2s;

}
.mongoDB{
    width: 60%;
    animation: mongoDB 2s;

}
.js{
    width: 60%;
    animation: js 2s;
}
.bootstrap{
    width: 70%;
    animation: bootstrap 2s;
}
.java{
    width: 90%;
    animation: java 2s;
}
.mysql{
    width: 80%;
    animation: mysql 2s;
}
.node{
    width: 60%;
    animation: node 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes mongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.perc1{
    text-align: left;
}
.perc2{
    text-align: left;
}
/*project*/
.projects{
    
    overflow: hidden;
    width: 100%;
    margin: 0 auto; 

    
}
.projects-box{

   

    background: #21252b;
    width: 100%;
    margin: 0 auto;
    padding: 100px 150px 150px 150px;
    

}
#subject-text2{
    color:#f6f7f8;
    font-size: 2em;
    padding-bottom: 5rem;
}
.myWork {
    padding-top: 50px;
    min-height: 50vh;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 15px #000;
    margin-bottom: 2rem;
    cursor: pointer;
    
}
.project-sub{
    color:#f6f7f8;
    padding:10px;
    font-size: 1em;
}
#firstWork{
    background: url(img/project1-newLogo.png);
    background-size: 100% 100%;
}
#secondWork{
    background: url(img/project2-logo.png);
    background-size: 100% 100%;
}
#thirdWork{
    background: url(img/buddiesLogo.png);
    background-size: 100% 100%;
}
#fourthWork{
    background: url(img/simple-logo.jpg);
    background-size: 100% 100%;
}
.myWork .overlay-text{
    width:100%;
    height:100%;
    font-size: 16px;
    background: rgb(0,0,0,0.6);
    text-align: center;
    padding-top: 20%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.6s ease 0s;
}
.myWork .overlay-text:after{
    border-left: 1px solid rgba(255,255,255,0.9);
    border-bottom:1px solid rgba(255,255,255,0.9);
    left: 30px;
    bottom: 30px;
}
.myWork .overlay-text:after .single-work .overlay-text:before{
    content:'';
    position: absolute;
    top:20px;
    left: 20px;
    bottom:20px;
    right:20px;
    opacity: 0;
    z-index: 1;
    transform: scale(1.5);
    transition: all 0.6s ease 0.2s;
}
.myWork:hover{
    transform:translateY(-8px);
}
.myWork:hover .overlay-text{
    opacity: 1;
}
.myWork h1{
    color:rgb(255, 252, 224);
}
.title{
    color:white;

}
.post{
    color: white;

}
/*Contact me*/
.contact{
    overflow: hidden;
    width: 100%;
    margin: 0 auto; 
    
}
.contact-icon{
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-top:50px;
    background-color: 	#282c34;
    height: 100px;
    border-radius:50%;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}
 
.contact-icon:hover{
    transform: translateY(-10px);
  
}
.contact-box{

    background: 	#f8b133;
    width: 100%;
    margin: 0 auto;
    padding: 130px 150px 200px 150px;
    color:	#282c34;
 
   

}

.contact-box p{
    
}


.contactMe {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
  
}
#m-row{
    margin-bottom: 150px;
}
.contactMe p{
    padding-bottom: 3rem;
    padding-left: 10px;
    padding-right: 10px;
   
}
.contactMe h3{
    padding: 30px;
    font-size: 1rem;
}
#subject-text3{
    font-size: 2em;
    padding-bottom: 30px;
    color:	#282c34;
}
#btnSend{
    float: right;
    padding: 10px 40px;
}
#btnSend::after{
    clear:both;
}
/*project-1*/
.bg-dark{
    background: transparent !important;
 
}
.bg-dark.scrolled{
    background: #746d6d9d !important;
    
}

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color:rgb(71, 71, 71);
    padding-bottom: 5px;
    margin-bottom: 30px;
  
}
.initial{
    font-size:5rem;
    color:rgb(255, 255, 255);
    background: none;
}
.project1-main{
    overflow:hidden;
  
}
.project1-logo{
    margin: 0 auto;
    padding-left:150px;
    float:left;
}
.project1-submain{
    background: url(img/bae2.png);
    background-size: auto 100%;
    padding: 150px 150px 150px 150px;
    width: 100%;
    height:auto;
  /* background: linear-gradient(to bottom, rgb(255, 218, 8), rgb(255, 246, 114));*/
}
.project1-title{
    padding-top:50px;
    color:rgb(255, 255, 255);
    
}
#project1-about {
  
    margin:50px;
    padding-bottom:50px;
    padding-top:50px;
    text-align: center;
}
.project1-des{
  
}
#project1-tool{
    padding: 0px 0px 50px 150px;
 
}
#project1-tool-img1{
    background: url(img/project1_logo.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project1-tool-img2{
    background: url(img/project1_logo2.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project1-tool-img3{
    background: url(img/project1_logo3.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project1-features{
    padding: 0px 100px 50px 100px;

}
#features-icon{
    color:rgb(34, 43, 73);
    padding-top : 10px;
}
#features-icon2{
    color:#f6f7f8;
    padding-top : 10px;
}
.project1-screenshot{
    width: 100%;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
}

.project1-screenshot h3{
   
    padding-top : 50px;
    text-align: center;
}
#bae1{
    
    min-height: 70vh;
    background: url(img/bae-1.jpg);
    background-size: 100% 100%;
}
#bae2{
  
    min-height: 70vh;
    background: url(img/bae-2.jpg);
    background-size: 100% 100%;
}
#bae3{
  
    min-height: 70vh;
    background: url(img/bae-3.jpg);
   background-size: 100% 100%;
}
#bae4{
   
    min-height: 70vh;
    background: url(img/bae-4.jpg);
    background-size: 100% 100%;
}
#bae5{
   
    min-height: 70vh;
    background: url(img/bae-5.jpg);
    background-size: 100% 100%;
}

#bae6{
   
    min-height: 70vh;
    background: url(img/bae-6.jpg);
    background-size: 100% 100%;
}

#bae7{
   
    min-height: 70vh;
    background: url(img/bae-7.jpg);
    background-size: 100% 100%;
}

#bae8{
   
    min-height: 70vh;
    background: url(img/bae-8.PNG);
    background-size: 100% 100%;
}
#btnSeeCode {
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
   
}
/*project2*/
.project2-main{
    overflow:hidden;
}
.project2-submain{
    background: url(img/project2-logo2.png);
    background-size: 100% 100%;
    padding: 250px 0 250px 0;
    width: 100%;
    height:auto;
  /* background: linear-gradient(to bottom, rgb(255, 218, 8), rgb(255, 246, 114));*/
}
.project2-des{
    /*
    font-style: italic;
    border: .1rem rgb(38, 44, 100) solid;
    border-radius: 0.5rem;
    padding:10px;
*/
}
.project2-box{
    background: #282c34;
    color:#f6f7f8;
}
.project2-title{
    padding-top:50px;
    color:rgb(255, 255, 255);
}

#project2-about {
 
    margin:50px;
}

#project2-tool-img1{
    background: url(img/project2_logo1.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project2-tool-img2{
    background: url(img/project2_logo2.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project2-tool-img3{
    background: url(img/project2_logo3.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project2-tool-img4{
    background: url(img/project2_logo4.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
#project2-app{
    text-align: center;
    margin-top:70px;
    
}
#project3-tool-img1{
    background: url(img/project3_logo1.png);
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}
.heading-underline3{
    width: 4rem;
    height: .2rem;
    margin-top: 30px;

    background-color:	#f6f7f8;
}
.heading-underline4{
    width: 3rem;
    height: .2rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color:gold;
}
.project2Video{
    width: 900px;
    height: 700px;
    margin-bottom: 50px;
    
}
/* project 3 */
.project3-submain{
    background: url(img/buddyImage3.jpeg);
    background-size: 100% 100%;
    padding: 250px 0 250px 0;
    width: 100%;
    height:auto;
  /* background: linear-gradient(to bottom, rgb(255, 218, 8), rgb(255, 246, 114));*/
}
#b1{
   
    min-height: 70vh;
    background: url(img/buddies1.PNG);
    background-size: 100% 100%;
}
#b2{
   
    min-height: 70vh;
    background: url(img/buddies2.PNG);
    background-size: 100% 100%;
}
#b3{
   
    min-height: 70vh;
    background: url(img/buddies3.PNG);
    background-size: 100% 100%;
}
#b4{
   
    min-height: 70vh;
    background: url(img/buddies4.PNG);
    background-size: 100% 100%;
}
#b5{
   
    min-height: 70vh;
    background: url(img/buddies5.PNG);
    background-size: 100% 100%;
}
#b6{
   
    min-height: 70vh;
    background: url(img/buddies6.PNG);
    background-size: 100% 100%;
}
#b7{
   
    min-height: 70vh;
    background: url(img/buddies7.PNG);
    background-size: 100% 100%;
}
#b9{
   
    min-height: 70vh;
    background: url(img/buddies8.PNG);
    background-size: 100% 100%;
}
#b10{
    min-height: 70vh;
    background: url(img/buddies9.PNG);
    background-size: 100% 100%;
}
#b11{
    min-height: 70vh;
    background: url(img/buddies10.PNG);
    background-size: 100% 100%;
}
#b12{
    min-height: 70vh;
    background: url(img/buddies11.PNG);
    background-size: 100% 100%;
}
#b8{
    min-height: 70vh;
    background: url(img/buddies12.PNG);
    background-size: 100% 100%;
}
/*footer*/
footer{
    overflow: hidden;
    background:#21252b;
    padding: 15px 0 0px 0;
    color:white;
}
footer p{
    padding-left: 10px;
    padding-right: 10px;
}
mark.footer-mark{
    color: #f8b133;
    background: none;
}
.isVisible{
    visibility: collapse;
}

/*responsive*/
@media (max-width: 768px) {
    .bg-dark.scrolled{
        background:transparent !important;
        
    }
    .isVisible{
        visibility: visible;
    }
    
   .navbar-toggler{
        background:#5c5b5478;
        margin-right:10px;
    }
    .navbar-collapse
    {
        background-color:#4d4c4ccc;
       
    }

    #leftHalf, #rightHalf{
        height: 100vh;
        margin:0 auto;
    }
    .leftAlignment{
      margin:0 auto;
     padding:120px 50px 0 50px;
     text-align:  center;
    }
    .main{
        width:100%;
    }
    .main h2{
      margin-top: 30px;
       font-size: 1.2em;
    }
    .main h1{
        font-size: 3em;
       
    }
    .main p{
        font-size: 1.2em;
       
    }
  
    .narrow{
        margin: 0 auto;
    }
    .aboutMe h3{
        padding-top: 3rem;  
    }
    #skills{
        padding-left:15px;
        padding-right: 15px;
    }
    #rightHalf{
        display: none !important;
    }
    #btnSend{
        float: right;
        padding: 5px 20px;
    }
    .contact-box{
        padding: 50px 30px 50px 30px;  
    }
    .perc1{
        text-align: right;
    }
    .narrow{  
        padding: 50px 30px 50px 30px;
    }
    .projects-box{
        padding: 50px 30px 50px 30px;
    }
  
    .project1-submain{
    background: url(img/bae2.png);
    background-size: 100% 100%;
    padding: 100px 0 100px 0;
    }
    .project2-submain{
        background: url(img/project2-logo2.png);
        background-size: 100% 100%;
        padding: 150px 0 150px 0;
    }
    .initial{
        font-size:3rem;
       
    }
    .project1-title{
        font-size:0.5rem;
    }
    .project1-logo{
        padding-left:30px;
        padding-right:30px;
    }
   
    #project1-tool{
        padding: 30px 50px 30px 70px;
     
    }
    #project2-tool{
        padding: 0px 50px 50px 50px;
    }
   
    #project1-about {

        margin:20px;
    }
    #project2-about {

        margin:20px;
    }
    #project1-features{
        padding: 30px 50px 30px 50px;
    }
    .project1-screenshot{
        padding: 30px 50px 30px 50px;
    }
    .project2Video{
        width: 300px;
        height: 200px;
        
    }
    #features-icon{
    
        width: auto;
        height: auto;        
    }
    #btnSeeCode {
    padding: 7px 30px 7px 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    }
    .heading-underline3{
        width:3rem;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 
    #aboutIcon{
        display: none;
    }
    #aboutImage{
        display:none;
    }
}
  

