* {
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    
}

html{
    width:100%;
    height:100%;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
  

}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
#header {
    position: absolute;
    z-index: 10;

  
}
.navbar-nav {
   /* flex-flow: row nowrap;*/
  }
  
.navbar {
    padding: 15px 0;
     /* flex-flow: row nowrap;
      display: inline-flex;*/

}
.navbar-collapse {
  
}
.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
}
.navbar-default .navbar-brand{
    color: #808288;
    

}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 40px;
   
}
.bg-light{
    background: transparent !important;
 
}
.bg-light.scrolled{
   background: rgb(250, 250, 250) !important;
    
}




.main{
    position: relative;
    /**background: url(img/example3.jpg);*/

    /*background: #21a894*/;

    width: 100%;
    margin: 0 auto; 
    overflow: hidden;
}
#leftHalf{
    
    height: auto;
    width:100%;
    background-image: url(img/cover1.jpg);
    background-size: 100% 100%;
    margin: 0 auto;

}

/*
@keyframes backTransition{
    0%{
        background-color: rgb(255, 254, 254);;
        transform: translateX(-500px);
    }
    100%{
        background: rgb(255, 254, 254);
         transform: translateX(0%);
    }
}

#rightHalf{
    height: auto;
    
    background-color: rgb(255, 217, 0);
  background-image: linear-gradient(30deg, yellow 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(30deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(150deg, #444 12%, transparent 12.5%, transparent 87%, #444 87.5%, #444), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888), linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888);
  background-position: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
  background-size: 50px 100px;
   background: linear-gradient(to right, #959595, white);
   background-image: url(img/cover1.jpg);
   background-size:100% 100%;
    width:100%;
    padding:0;

   
}
*/
.leftAlignment{
    padding:200px 0 50px 0;
    
}

.main h1{
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: bold;
   
    color:white;
    
 
}

.main h2{
    margin: 0;
    padding: 0;
    font-size: 1.2em;

    color:white;
    
}

.main p{
    margin:0;
    padding: 0;
    font-size: 1.5em;
    color:white;
}
mark.name{
    display: inline-block;
    line-height: 0em;
   color:gold;
    padding-bottom: 0.5em;
    background-color: transparent;
}
.main #btnResume{
    margin-top: 2em;
    background-color: gold;
    border-color: gold;
  /*
    animation: fadeIn; 
    animation-duration: 8s;
    */
    color:  black;
    margin-bottom: 10em;
}
.main #btnResume:hover{
 
    color:  rgb(255, 255, 255);
    background-color:  gold;
   
}

img {
    max-width: 100%;
    max-height: 100%;
    margin : 0 auto;
    position: absolute;
    right: 0px;
    bottom: 0px;    
    
    
}
 
/*about me*/

.about{


    width: 100%;
    margin: 0 auto; 
    overflow: hidden;
}
.narrow{
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px 150px 50px;
    background: white;
    
}



.heading-underline2{
    width: 3rem;
    height: .2rem;
    background-color: rgb(255, 238, 4);
    margin: 0 auto 10rem;
  
}
.narrow h2{
    color:black;

}
.aboutMe {
    background: rgb(49, 49, 49);
    padding-top: 50px;
}
/* circle
.aboutMe h1{
    width: 1em;
    height: 1em;
    box-sizing: initial;
    font-size:2em;
    background: #fff;
    border: 0.1em solid rgb(255, 255, 255);
   
    text-align: center;
    border-radius: 50%;    
    margin: 0 auto;
    line-height: 1em;
    box-sizing: content-box;   
    color: black;

    margin-bottom: 3rem;
}*/
.aboutMe p{
    padding-bottom: 3rem;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
   
}
.aboutMe h3{
    padding-top: 5rem;
    font-size: 1.3rem;
    color:white;
}
#subject-text{
    color: rgb(20, 20, 20);
    font-size: 3em;
    padding-bottom: 30px;
}
#about-description{
    font-style: italic;
    padding-bottom: 20px;
}
#skills{
    width: 500px;
    margin: 30px auto;
    color: rgb(42, 42, 42);
    padding-left:70px;
    padding-right:70px;
}
#skills li{
    margin: 20px 0;

    list-style: none;
}
#skills h3{
    font-size: 1rem;
}
#title-skill{
    padding-top: 30px;
    font-weight: 700;

}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccb801b3;
    color:white;

}
.bar span{
    height:20px;
    float:left;
    background: #ffe600;

}
.html{
    width: 90%;
    animation: html 2s;


}
.css{
    width: 80%;
    animation: css 2s;

}
.php{
    width: 70%;
    animation: php 2s;
}
.react{
    width: 70%;
    animation: react 2s;

}
.mongoDB{
    width: 60%;
    animation: mongoDB 2s;

}
.js{
    width: 60%;
    animation: js 2s;
}
.bootstrap{
    width: 70%;
    animation: bootstrap 2s;
}
.java{
    width: 90%;
    animation: java 2s;
}
.mysql{
    width: 80%;
    animation: mysql 2s;
}
.node{
    width: 60%;
    animation: node 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes mongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.perc1{
    text-align: left;
}
.perc2{
    text-align: left;
}
/*project*/
.projects{
    
    overflow: hidden;
    width: 100%;
    margin: 0 auto; 
    
}
.projects-box{

    background: rgb(255, 217, 0);
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px 150px 50px;
    

}
#subject-text2{
    color: rgb(243, 243, 243);
    font-size: 3em;
    padding-bottom: 5rem;
}
.myWork {
    padding-top: 50px;
    min-height: 50vh;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 15px #000;
    margin-bottom: 2rem;
    cursor: pointer;
    
}
#firstWork{
    background: url(img/project1-newLogo.png);
    background-size: 100% 100%;
}
#secondWork{
    background: url(img/project2-logo.png);
    background-size: 100% 100%;
}
#thirdWork{
    background: url(img/project1-newLogo.png);
    background-size: 100% 100%;
}
.myWork .overlay-text{
    width:100%;
    height:100%;
    font-size: 16px;
    background: rgb(0,0,0,0.6);
    text-align: center;
    padding-top: 20%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.6s ease 0s;
}
.myWork .overlay-text:after{
    border-left: 1px solid rgba(255,255,255,0.9);
    border-bottom:1px solid rgba(255,255,255,0.9);
    left: 30px;
    bottom: 30px;
}
.myWork .overlay-text:after .single-work .overlay-text:before{
    content:'';
    position: absolute;
    top:20px;
    left: 20px;
    bottom:20px;
    right:20px;
    opacity: 0;
    z-index: 1;
    transform: scale(1.5);
    transition: all 0.6s ease 0.2s;
}
.myWork:hover{
    transform:translateY(-8px);
}
.myWork:hover .overlay-text{
    opacity: 1;
}
.myWork h1{
    color:rgb(255, 252, 224);
}
.title{
    color:white;

}
.post{
    color: white;

}
/*Contact me*/
.contact{
    overflow: hidden;

    width: 100%;
    margin: 0 auto; 
    
}
.contact-box{

    background: rgb(50, 78, 97);
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px 100px 50px;

}
.contact-box p{
    color: rgb(248, 248, 248);
    font-style: italic;
    padding-bottom: 30px;
}

#subject-text3{
    color: rgb(248, 248, 248);
    font-size: 3em;
    padding-bottom: 30px;
}
#btnSend{
    float: right;
    padding: 10px 40px;
}
#btnSend::after{
    clear:both;
}
/*project-1*/
.bg-dark{
    background: transparent !important;
 
}
.bg-dark.scrolled{
    background: #746d6d9d !important;
    
}

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color:rgb(71, 71, 71);
    padding-bottom: 5px;
    margin-bottom: 30px;
  
}
.initial{
    font-size:5rem;
    color:rgb(255, 255, 255);
    background: none;
}
.project1-main{
    overflow:hidden;
  
}
.project1-logo{
    margin: 0 auto;
    padding-left:150px;
    float:left;
}
.project1-submain{
    background: url(img/bae2.png);
    background-size: auto 100%;
    padding: 150px 0 150px 0;
    width: 100%;
    height:auto;
  /* background: linear-gradient(to bottom, rgb(255, 218, 8), rgb(255, 246, 114));*/
}
.project1-title{
    padding-top:50px;
    color:rgb(255, 255, 255);
    
}
#project1-about {
  
    margin:50px;
}
.project1-des{
    font-style: italic;
    border: .1rem rgb(38, 44, 100) solid;
    border-radius: 0.5rem;
    padding:10px;
}
#project1-tool{
    padding: 0px 0px 50px 150px;
 
}
#project1-tool-img{
    background: url(img/project1-logo.png);
    background-size: 100% 100%;
    padding: 150px 0 150px 0;
}
#project1-features{
    padding: 0px 100px 50px 100px;
}

.project1-screenshot{
    width: 100%;
    margin: 0 auto;
    padding: 0px 100px 50px 100px;
}

.project1-screenshot h3{
    padding-bottom: 30px;
    padding-top : 50px;
}
#bae1{
    
    min-height: 70vh;
    background: url(img/bae-1.jpg);
    background-size: 100% 100%;
}
#bae2{
  
    min-height: 70vh;
    background: url(img/bae-2.jpg);
    background-size: 100% 100%;
}
#bae3{
  
    min-height: 70vh;
    background: url(img/bae-3.jpg);
   background-size: 100% 100%;
}
#bae4{
   
    min-height: 70vh;
    background: url(img/bae-4.jpg);
    background-size: 100% 100%;
}
#bae5{
   
    min-height: 70vh;
    background: url(img/bae-5.jpg);
    background-size: 100% 100%;
}

#bae6{
   
    min-height: 70vh;
    background: url(img/bae-6.jpg);
    background-size: 100% 100%;
}

#bae7{
   
    min-height: 70vh;
    background: url(img/bae-7.jpg);
    background-size: 100% 100%;
}

#bae8{
   
    min-height: 70vh;
    background: url(img/bae-8.PNG);
    background-size: 100% 100%;
}
#btnSeeCode {
    padding-left:70px;
    padding-right:70px;
    margin-bottom: 50px;
   
}
/*project2*/
.project2-main{
    overflow:hidden;
}
.project2-submain{
    background: url(img/project2-logo2.png);
    background-size: 100% 100%;
    padding: 250px 0 250px 0;
    width: 100%;
    height:auto;
  /* background: linear-gradient(to bottom, rgb(255, 218, 8), rgb(255, 246, 114));*/
}
.project2-des{
    font-style: italic;
    border: .1rem rgb(38, 44, 100) solid;
    border-radius: 0.5rem;
    padding:10px;

}
.project2-title{
    padding-top:50px;
    color:rgb(255, 255, 255);
}

#project2-about {
 
    margin:50px;
}
#project2-tool{
    padding: 0px 0px 50px 150px;
}
#project2-tool-img{
    background: url(img/project2-logo3.png);
    background-size: 100% 100%;
    padding: 150px 0 150px 0;
}
#project2-app{
    padding: 0px 0px 10px 150px;
}
.heading-underline3{
    width: 3rem;
    height: .2rem;
    background-color:gold;
    padding-bottom: 5px;
    margin-bottom: 30px;
  
}
.project2Video{
    width: 900px;
    height: 700px;
    margin-bottom: 50px;
    
}
/*footer*/
footer{
    overflow: hidden;
    background:rgb(53, 53, 53);
    padding: 15px 0 0px 0;
    color:white;
}
footer p{
    padding-left: 10px;
    padding-right: 10px;
}
mark.footer-mark{
    color: rgb(255, 238, 4);
    background: none;
}
.isVisible{
    visibility: collapse;
}

/*responsive*/
@media (max-width: 768px) {
    .bg-dark.scrolled{
        background:transparent !important;
        
    }
    .isVisible{
        visibility: visible;
    }
    
   .navbar-toggler{
        background:#5c5b5478;
        margin-right:10px;
    }
    .navbar-collapse
    {
        background-color:#4d4c4ccc;
       
    }

    #leftHalf, #rightHalf{
        height: 100vh;
        margin:0 auto;
    }
    .leftAlignment{
      margin:0 auto;
     padding:120px 0 0 0;
     text-align:  center;
    }
    .main{
        width:100%;
    }
    .main h2{
        padding-bottom: 2rem;
    }
    .main h1{
        font-size: 3em;
        padding-bottom: 1rem;
    }
    .main p{
        font-size: 1.2em;
        padding-bottom: 1rem;
    }
    .narrow{
        margin: 0 auto;
    }
    .aboutMe h3{
        padding-top: 3rem;  
    }
    #skills{
        padding-left:15px;
        padding-right: 15px;
    }
    #rightHalf{
        display: none !important;
    }
    #btnSend{
        float: right;
        padding: 5px 20px;
    }
    .contact-box{
        padding: 50px 30px 50px 30px;  
    }
    .perc1{
        text-align: right;
    }
    .narrow{  
        padding: 50px 30px 50px 30px;
    }
    .projects-box{
        padding: 50px 30px 50px 30px;
    }
  
    .project1-submain{
    background: url(img/bae2.png);
    background-size: 100% 100%;
    padding: 100px 0 100px 0;
    }
    .project2-submain{
        background: url(img/project2-logo2.png);
        background-size: 100% 100%;
        padding: 150px 0 150px 0;
    }
    .initial{
        font-size:3rem;
    }
    .project1-title{
        font-size:0.5rem;
    }
    .project1-logo{
        padding-left:30px;
        padding-right:30px;
    }
  
    #project1-tool{
        padding: 30px 50px 30px 70px;
     
    }
    #project2-tool{
        padding: 0px 50px 50px 50px;
    }
    #project2-app{
        padding: 0px 0px 10px 50px;
    }
    #project1-about {

        margin:20px;
    }
    #project2-about {

        margin:20px;
    }
    #project1-features{
        padding: 30px 50px 30px 50px;
    }
    .project1-screenshot{
        padding: 30px 50px 30px 50px;
    }
    .project2Video{
        width: 300px;
        height: 200px;
        margin: 30px;
    }
}
  

